<div id="container">
	<canvas id="canvas"></canvas>
  <div id="overlay">
  	<div class="space"></div>
  	<div class="center">
  		<%= image_tag "logo.png", class: "logo" %>
  		<h1>You did it, <%= @student.name.split(" ").first %>!</h1>
  	</div>
  		
		<div class="videos">
			<div class="video-container">
				<div class="video"><div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/<%= @student.video_1 %>?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></div>
			</div>

			<div class="video-container">
				<div class="video"><div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/<%= @student.video_2 %>?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></div>
			</div>

			<div class="video-container">
				<div class="video"><div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/<%= @student.video_3 %>?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></div>
			</div>
		</div>
  </div>
</div>